.section {
  background-color: #0000;
  background-image: linear-gradient(#fff0 74%, #000 95%), radial-gradient(circle, #0000001c 18%, #000 82%);
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
  display: flex;
}

.body {
  background-color: #000;
  justify-content: center;
  align-items: flex-start;
  height: auto;
  display: block;
  overflow: visible;
}

.logo {
  filter: drop-shadow(0 5px 5px #000000f2);
  background-image: url('../images/palazzologo.avif');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  width: 25%;
  height: 25%;
}

.heading {
  filter: drop-shadow(0 2px 2px #000);
  color: #fff;
  text-align: center;
  width: 80%;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.field-label, .email, .message, .phone {
  color: #fff;
}

.submit-button {
  text-align: left;
  background-color: #ecc238;
  border-radius: 8px;
}

.form-block {
  filter: drop-shadow(0 2px 5px #000000b3);
  -webkit-backdrop-filter: blur(13px);
  backdrop-filter: blur(13px);
  text-align: left;
  background-color: #00000045;
  border: 1px solid #ecc238;
  border-radius: 8px;
  width: 600px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
}

.headingmain {
  filter: drop-shadow(0 2px 1px #000);
  color: #ecc238;
  text-align: center;
  margin-top: 10px;
  font-family: Great Vibes, cursive;
  font-size: 2rem;
  line-height: 2rem;
}

.success-message {
  color: #fff;
  background-color: #000;
  border-radius: 8px;
}

.error-message {
  color: red;
  background-color: #000;
}

.background-video {
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 100dvw;
  height: 100dvh;
  padding: 100px;
  display: flex;
}

.background-video.mobile {
  display: none;
}

.palazzologo {
  filter: drop-shadow(0 2px 1px #000);
  align-self: center;
  width: 300px;
}

.bodytext {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  line-height: 14px;
  display: flex;
}

.div-block {
  display: none;
}

.name {
  border-radius: 8px;
}

.body-2 {
  background-color: #000;
}

.section-2 {
  background-color: #000;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  display: flex;
}

.background-video-2 {
  background-image: linear-gradient(#0000 79%, #000), radial-gradient(circle, #0000, #000 92%);
  width: 100%;
  height: 100%;
}

.div-block-2 {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  background-image: linear-gradient(#000, #0000 100%, #fff);
  justify-content: center;
  align-items: center;
  height: 80px;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
}

.div-block-3 {
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-bottom: 150px;
  display: flex;
}

.div-block-4 {
  width: 50%;
  height: 100%;
}

.link {
  color: #fff;
  font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
  font-size: 24px;
  font-weight: 400;
  -webkit-text-decoration: none;
  text-decoration: none;
}

.link:focus {
  color: #e6be22;
}

.heading-2 {
  color: #e6be22;
  font-family: Great Vibes, cursive;
  font-size: 38px;
}

.swflorida {
  filter: drop-shadow(0 2px 1px #000);
  color: #e6be22;
  font-family: Great Vibes, cursive;
  font-size: 8rem;
  line-height: 8rem;
}

.heading-3 {
  filter: drop-shadow(0 2px #000);
  color: #e6be22;
  font-family: Great Vibes, cursive;
  font-size: 4rem;
  line-height: 4rem;
}

.image {
  filter: drop-shadow(0 2px 2px #000);
}

.div-block-5 {
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 500px;
  display: flex;
}

.image-2, .image-3, .image-4, .image-5, .image-6, .image-7 {
  height: 150px;
}

.div-block-6 {
  border: 1px #fff;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
}

.div-block-7 {
  background-image: linear-gradient(90deg, #000, #0000 11% 90%, #000);
  width: 100%;
  height: 100%;
  position: absolute;
}

.image-8 {
  height: 150px;
}

.text-field, .text-field-2, .textarea {
  border-radius: 8px;
}

.div-block-8 {
  text-align: center;
  flex-flow: column;
  align-self: auto;
  display: flex;
}

.body-3 {
  background-color: #000;
  height: auto;
}

.background-video-3 {
  flex-flow: column;
  height: 100dvh;
  display: flex;
  position: relative;
}

.section-3 {
  background-image: linear-gradient(#000 9%, #0000004d 40%);
  height: auto;
}

.div-block-9 {
  justify-content: space-between;
  width: 100%;
  height: 80px;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
}

.div-block-10 {
  width: auto;
  height: 80px;
}

.image-9 {
  height: 80px;
}

.navbar {
  background-color: #0000;
  height: 80px;
}

.container {
  justify-content: center;
  align-items: center;
  height: 80px;
  display: flex;
}

.nav-menu {
  border: 1px solid #0000;
}

.nav-link {
  color: #fff;
  border: 1px solid #0000;
}

.nav-link:focus, .nav-link.w--current {
  color: #ecc238;
}

.nav-link-2 {
  color: #fff;
}

.nav-link-2:focus, .nav-link-2.w--current {
  color: #ecc238;
}

.nav-link-3 {
  color: #fff;
}

.nav-link-3:focus {
  color: #ecc238;
}

.div-block-11 {
  border-bottom: 2px solid #ecc238;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.headline {
  filter: drop-shadow(0 2px #000);
  color: #ecc238;
  text-align: center;
  -webkit-text-stroke-color: #ecc23800;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(#c34100, #ecc238 59%), url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 0 0, 0 0;
  background-size: auto, auto;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: Great Vibes, cursive;
  font-size: 2.6rem;
  font-weight: 400;
  line-height: 3.5rem;
}

.headline.orangegradient {
  background-image: none;
}

.headline.gradients {
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(#b26800, #ffd64f);
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 3rem;
  line-height: 4rem;
}

.subheading {
  filter: drop-shadow(0 2px #000);
  color: #fff;
  text-align: center;
  width: 800px;
  font-family: Vollkorn, serif;
  font-size: 1.5rem;
  line-height: 2rem;
}

.div-block-12 {
  grid-column-gap: 35px;
  grid-row-gap: 35px;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
}

.portfoliobutton {
  filter: drop-shadow(0 2px 1px #000000b3);
  text-shadow: 0 1px 1px #000;
  background-color: #ecc238;
  background-image: linear-gradient(#ecc238, #b26800);
  border-radius: 8px;
}

.portfoliobutton.portfolio {
  margin-top: 40px;
}

.designbookbutton {
  filter: drop-shadow(0 2px 1px #000000b3);
  color: #fff;
  text-shadow: 0 1px 1px #000;
  background-color: #ecc238;
  background-image: linear-gradient(#ecc238, #ec9538);
  border-radius: 8px;
}

.designbookbutton.cta {
  background-image: linear-gradient(#ecc238, #b26800);
}

.renderexamples {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  outline-offset: 0px;
  background-color: #001523;
  background-image: linear-gradient(#000 3%, #00000073 8%, #0005086e 19%, #0015235c 78%, #001523), url('../images/bg3.jpg');
  background-position: 0 0, 50%;
  background-size: auto, cover;
  border-top: 2px #ecc238;
  border-bottom: 2px #ecc238;
  outline: 3px #333;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 10px;
  display: flex;
}

.heading-4 {
  text-align: center;
  font-family: Great Vibes, cursive;
}

.seethelevel {
  color: #ecc238;
  font-size: 2.6rem;
  line-height: 3rem;
}

.div-block-13 {
  width: 100%;
  height: 100%;
  position: absolute;
}

.heading-5, .see-the-level-of-design-we-deliver {
  color: #fff;
  text-align: center;
  font-family: Great Vibes, cursive;
}

.image-10 {
  border: 2px solid #ecc238;
  height: auto;
  box-shadow: 9px 7px 9px #0009;
}

.div-block-14 {
  grid-column-gap: 10px;
  grid-row-gap: 6px;
  grid-template-rows: 182px auto;
  grid-template-columns: .4fr .4fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  place-content: center space-between;
  place-items: center;
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0;
  display: grid;
}

.everyprojectbeginswith {
  color: #ecc238;
  font-size: 2rem;
  line-height: 3rem;
}

.everyprojectbeginswith.headline {
  filter: drop-shadow(0 2px #000);
  background-image: linear-gradient(#b26800, #ffd64f);
}

.everyprojectbegins {
  color: #fff;
  text-align: center;
  font-family: Vollkorn, serif;
}

.everyproject {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Vollkorn, serif;
  font-size: 1rem;
  line-height: 1.5rem;
}

.palazzo-experience {
  border-top: 2px #ecc238;
  border-bottom: 2px solid #ecc238;
  width: 100%;
  height: auto;
}

.thepalazzoexperience {
  color: #ecc238;
  text-align: center;
  text-shadow: 0 1px 1px #000;
  font-family: Great Vibes, cursive;
  font-size: 2rem;
  line-height: 2rem;
}

.thepalazzoexperience.headline {
  text-shadow: none;
  background-image: linear-gradient(#b26800, #ffd64f);
  margin-top: 0;
  margin-bottom: 0;
  line-height: 2.5rem;
}

.text-block {
  color: #fff;
  text-align: center;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  font-family: Vollkorn, serif;
  font-size: 1rem;
  line-height: 1rem;
  display: flex;
}

.designyourdream {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 1px #000;
  font-family: Vollkorn, serif;
  font-size: 1rem;
  line-height: 2rem;
}

.div-block-15 {
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  background-image: linear-gradient(#001523, #1f385200 55%), url('../images/bg2.jpg');
  background-position: 0 0, 50% 100%;
  background-size: auto, auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 100px 60px 40px;
  display: flex;
}

.video {
  width: auto;
  height: auto;
}

.paragraph {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 1px #000;
  width: 70%;
  margin-top: 40px;
  margin-bottom: 60px;
  font-family: Vollkorn, serif;
  font-size: 1rem;
  line-height: 1.5rem;
}

.image-11 {
  filter: drop-shadow(0 12px 5px #000000b3);
  border: 1px solid #373019;
  height: 350px;
  display: block;
  box-shadow: 0 2px 20px 1px #2c250e;
}

.image-11.mobile {
  display: none;
}

.div-block-16 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: auto;
  display: flex;
}

.palazzoexperiencebooking {
  background-color: #ecc238;
  border-radius: 8px;
}

.palazzoexperiencebooking.designbookbutton {
  background-image: linear-gradient(#ecc238, #b26800);
}

.italic-text {
  text-shadow: 0 1px 1px #000;
}

.div-block-17 {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 300px;
  display: flex;
}

.ourprocess {
  background-image: linear-gradient(#000, #0000 42% 73%, #000), linear-gradient(#0e213dc4, #0e213dc4), url('../images/waterrippple.jpg');
  background-position: 0 0, 0 0, 50%;
  background-size: auto, auto, cover;
  flex-flow: column;
  width: 100%;
  height: 500px;
  padding-top: 60px;
  display: flex;
}

.aprovenprocess {
  color: #fff;
  text-align: center;
  font-family: Great Vibes, cursive;
  font-size: 2rem;
  line-height: 3rem;
}

.div-block-18 {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 100%;
  padding: 60px;
  display: flex;
}

.ouprocess {
  background-image: none;
  background-position: 0 0;
  background-size: auto;
  border-bottom: 2px solid #ecc238;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding-left: 60px;
  padding-right: 60px;
  display: flex;
}

.div-block-19 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  filter: drop-shadow(4px 4px 3px #000000c9);
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 400px;
  padding: 20px 40px;
  display: flex;
}

.div-block-20 {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  background-color: #000000b3;
  border: 1px solid #515151;
  border-radius: 8px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
}

.text-block-2 {
  color: #ecc238;
  font-family: Great Vibes, cursive;
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-block-3 {
  font-family: Great Vibes, cursive;
}

.bold-text {
  color: #ecc238;
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-block-4 {
  color: #ecc238;
  text-align: center;
  font-family: Great Vibes, cursive;
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-block-5 {
  color: #fff;
  text-align: center;
  font-family: Vollkorn, serif;
}

.bold-text-2 {
  color: #fff;
}

.authority {
  text-align: center;
  border-top: 2px solid #ecc238;
  border-bottom: 2px #ecc238;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
}

.section-4 {
  outline-offset: 0px;
  background-image: linear-gradient(#0000 62%, #002432 95%), url('../images/bg2.jpg');
  background-position: 0 0, 100% 100%;
  background-size: auto, auto;
  border-bottom: 2px #ecc238;
  outline: 3px #ecc238;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding-top: 0;
  display: flex;
  position: relative;
}

.paragraph-2 {
  color: #fff;
  text-align: center;
  width: 700px;
  margin-bottom: 40px;
  font-family: Vollkorn, serif;
  font-size: 1rem;
  line-height: 1.5rem;
}

.video-2 {
  width: 500px;
  height: 500px;
}

.youtube {
  width: 30%;
  height: 30%;
}

.div-block-21 {
  z-index: 1;
  width: 700px;
  height: 400px;
  position: relative;
}

.video-3 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.div-block-22 {
  border: 1px #000;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 100%;
  display: flex;
}

.image-12 {
  outline-offset: 0px;
  outline: 2px solid #ecc238;
  width: 100%;
  height: 100%;
}

.section-5 {
  border-bottom: 2px #ecc238;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  display: flex;
}

.div-block-23 {
  background-image: linear-gradient(#002432 8%, #00000094 42%), url('../images/481571194_1040278434786435_2271290415396069224_n.jpg');
  background-position: 0 0, 50%;
  background-size: auto, cover;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
  padding-top: 60px;
  display: flex;
}

.div-block-24 {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  background-color: #0000;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
}

.trustbloc {
  border-radius: 8px;
  flex-flow: column;
  width: 100%;
  height: auto;
  padding: 20px;
  display: flex;
}

.trustbloc.reviews {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: #00000087;
  border: 1px solid #ecc238;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  width: 40%;
  padding-left: 20px;
  padding-right: 20px;
}

.trustblochead {
  color: #fff;
  text-align: center;
  -webkit-text-stroke-color: #fff;
  text-shadow: 0 1px 1px #000;
  font-family: Vollkorn, serif;
}

.div-block-25 {
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
  padding-top: 0;
  padding-bottom: 60px;
  display: flex;
}

.div-block-26 {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 800px;
  display: flex;
}

.code-embed {
  width: 100%;
  height: 100%;
}

.youtube-2 {
  width: 800px;
  margin-bottom: 40px;
}

.background-video-4 {
  outline-offset: 0px;
  outline: 2px solid #ecc238;
  width: 100%;
  height: 100%;
  box-shadow: 0 2px 20px 2px #ec8c38;
}

.background-video-4.mobile {
  display: none;
}

.div-block-27 {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 400px;
  display: flex;
}

.background-video-5 {
  outline-offset: 0px;
  outline: 2px solid #ecc238;
  width: 100%;
  height: 100%;
  box-shadow: 0 2px 20px 2px #ec8c38;
}

.section-6 {
  background-image: linear-gradient(#000, #0000 38%), url('../images/bg3.jpg');
  background-position: 0 0, 50% 0;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  border-top: 2px solid #ecc238;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding-top: 40px;
  padding-bottom: 100px;
  display: flex;
  position: relative;
}

.text-block-6 {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 1px #000;
}

.image-13 {
  filter: drop-shadow(0 2px 5px #000);
  width: 100px;
}

.div-block-28 {
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  display: flex;
}

.background-video-6 {
  width: 100%;
  height: 100%;
}

.palazzoexperiencevid {
  outline-offset: 0px;
  background-color: #000;
  outline: 2px solid #ecc238;
  width: 100%;
  height: 100%;
  box-shadow: 0 2px 20px 2px #ec8c38;
}

.background-video-7 {
  outline-offset: 0px;
  outline: 2px solid #ecc238;
  width: 100%;
  height: 100%;
  box-shadow: 0 2px 20px 2px #ec8c38;
}

.div-block-29 {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  position: relative;
}

.div-block-30 {
  z-index: 0;
  background-image: linear-gradient(#0000 81%, #000), url('../images/bg2.jpg');
  background-position: 0 0, 100% 100%;
  background-size: auto, auto;
  width: 100%;
  height: 100%;
  position: relative;
}

.image-14 {
  outline-offset: 0px;
  outline: 2px solid #ecc238;
  width: 100%;
}

.div-block-31 {
  background-image: url('../images/464841162_950514603762819_7045598145387516157_n.avif');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
}

.body-4 {
  background-color: #000;
  height: 100%;
}

.section-7 {
  background-image: linear-gradient(#000 5%, #0000004d 33%), url('../images/7589.avif');
  background-position: 0 0, 50%;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  height: 100%;
  display: block;
}

.div-block-32 {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
}

.section-8 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-image: url('../images/bg2.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 0 #ecc238;
  border-bottom: 0 #ecc238;
  flex-flow: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding-top: 60px;
  display: flex;
}

.div-block-33 {
  color: #fff;
  text-align: center;
  width: 800px;
}

.div-block-34 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  height: 100%;
  display: grid;
}

.gallerygrid {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  background-color: #000;
  background-image: url('../images/bg3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 2px solid #ecc238;
  border-bottom: 2px solid #ecc238;
  grid-template: "Area Area-2" 312px
                 ". ."
                 / .25fr .25fr;
  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;
  place-content: center;
  place-items: center;
  width: 100%;
  height: 100%;
  margin-top: 60px;
  padding-top: 40px;
  display: grid;
}

.image-15, .image-16, .image-17, .image-18, .image-19, .image-20, .image-21, .image-22 {
  border: 1px solid #ecc238;
  width: 400px;
}

.paragraph-3 {
  margin-bottom: 40px;
  font-family: Vollkorn, serif;
}

.paragraph-4 {
  color: #fff;
}

.paragraph-5, .text-block-7 {
  color: #fff;
  font-family: Vollkorn, serif;
}

.body-5 {
  background-color: #000;
  height: 100dvh;
}

.section-9 {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 0 0;
  background-size: auto;
  flex-flow: column;
  width: 100%;
  display: flex;
}

.div-block-35 {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
}

.processhero {
  background-image: linear-gradient(#000 3%, #0000004d 45%), url('../images/486525764_1060566316090980_5304657300833425711_n.avif');
  background-position: 0 0, 50%;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  flex-flow: column;
  height: 100%;
  display: block;
}

.div-block-36 {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
}

.div-block-37 {
  flex-flow: column;
  height: 100%;
  display: flex;
}

.div-block-38 {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
}

.div-block-39 {
  flex-flow: column;
  align-items: stretch;
  height: 100%;
  display: flex;
}

.section-10 {
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  background-image: url('../images/bg3.jpg');
  background-position: 0 0;
  background-size: auto;
  border-bottom: 2px solid #ecc238;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  padding-bottom: 60px;
  display: flex;
}

.paragraph-6 {
  color: #fff;
  text-align: center;
  width: 800px;
  font-family: Vollkorn, serif;
  font-size: 1rem;
  line-height: 2rem;
}

.paragraph-7 {
  width: 800px;
}

.paragraph-8 {
  color: #fff;
  text-align: center;
  width: 800px;
  font-family: Vollkorn, serif;
}

.div-block-40 {
  text-align: center;
  background-color: #000;
  border-top: 2px solid #ecc238;
  border-bottom: 2px solid #ecc238;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
}

.div-block-41 {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
}

.div-block-42 {
  z-index: 1;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  position: relative;
}

.background-video-8 {
  border: 2px solid #ecc238;
  width: 100%;
  height: 100%;
  box-shadow: 0 2px 20px 2px #ec8c38;
}

.div-block-43 {
  width: 700px;
  height: 400px;
}

.body-6 {
  background-color: #000;
  height: 100dvh;
}

.section-11 {
  background-image: linear-gradient(#000 5%, #0000004d 24%);
  width: 100%;
  height: 100%;
}

.background-video-9 {
  background-image: radial-gradient(circle, #0000004a 19%, #000), linear-gradient(#0000 63%, #000 95%), linear-gradient(#000 7%, #0000 41%);
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  display: flex;
}

.div-block-44 {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.section-12 {
  background-image: linear-gradient(#000, #fff0 24% 72%, #000), linear-gradient(#00000080, #00000080), url('../images/bg1.jpg');
  background-position: 0 0, 0 0, 50%;
  background-repeat: repeat, repeat, no-repeat;
  background-size: auto, auto, cover;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: auto;
  display: flex;
}

.div-block-45 {
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
}

.paragraph-9 {
  color: #fff;
  text-align: center;
  width: 800px;
  font-family: Vollkorn, serif;
  font-size: 1rem;
  line-height: 2rem;
}

.list-item, .list-item-2, .list-item-3, .list-item-4 {
  color: #fff;
  font-family: Vollkorn, serif;
}

.div-block-46 {
  width: 600px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.image-23 {
  border: 2px solid #ecc238;
  box-shadow: 0 9px 9px 3px #000000d1;
}

.section-13 {
  border: 2px solid #ecc238;
  border-style: solid none;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
}

.div-block-47 {
  background-color: #ecc238;
  border-radius: 20px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 100px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
}

.text-block-8 {
  color: #202020;
  text-align: center;
  font-family: Vollkorn, serif;
  font-size: 1rem;
  line-height: 1.5rem;
}

.body-7 {
  background-color: #000;
  height: 100%;
}

.image-24 {
  border: 2px solid #ecc238;
  width: 600px;
  margin-top: 60px;
  box-shadow: 0 2px 5px #000000c4;
}

.section-14 {
  background-image: url('../images/bg2.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 60px;
  display: flex;
}

.div-block-48 {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.div-block-49 {
  justify-content: space-between;
  width: 1000px;
  display: flex;
}

.text-block-9 {
  color: #fff;
  align-self: center;
  font-family: Vollkorn, serif;
}

.div-block-50 {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
}

.div-block-50.single {
  margin-top: 60px;
}

.div-block-51 {
  border: 1px solid #ecc238;
  border-radius: 8px;
  flex-flow: column;
  width: 500px;
  height: 500px;
  display: flex;
}

.div-block-51.single {
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 1000px;
  height: 300px;
}

.div-block-52 {
  background-image: url('../images/Frank-Cresente_002.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 1px solid #ecc238;
  width: 100%;
  height: 100%;
}

.div-block-52.single {
  background-image: url('../images/Folker-Residence-updated_001.avif');
  background-position: 50% 100%;
  border-right: 1px solid #ecc238;
  border-radius: 8px 0 0 8px;
}

.div-block-52.pooldesign {
  border-radius: 8px 8px 0 0;
}

.div-block-52.luxuryconstruction {
  background-image: url('../images/598648258_18428564869116027_3978798457585313606_n.jpg');
  background-position: 0%;
  border-radius: 8px 8px 0 0;
}

.div-block-52.renovation {
  background-image: url('../images/468075388_968257408655205_1812407554432029264_n.avif');
  border-radius: 8px 8px 0 0;
}

.div-block-52.outdoorliving {
  background-image: url('../images/466397071_961930659287880_5197719942145916337_n.avif');
  border-radius: 8px 8px 0 0;
}

.div-block-52.features {
  background-image: url('../images/signature-pools-and-patios-water-features-00009-1024x684.jpg');
  border-radius: 8px 8px 0 0;
}

.div-block-52.lightandland {
  background-image: url('../images/486525764_1060566316090980_5304657300833425711_n.avif');
  border-radius: 8px 8px 0 0;
}

.div-block-53 {
  background-color: #000;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  height: 40%;
  padding: 15px;
  display: flex;
}

.div-block-53.single {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}

.text-block-10 {
  color: #fff;
  margin-top: 10px;
  font-family: Vollkorn, serif;
}

.bold-text-3, .bold-text-4, .bold-text-5, .bold-text-6, .bold-text-7, .bold-text-8, .bold-text-9 {
  color: #ecc238;
}

.body-8 {
  background-color: #000;
  height: 100dvh;
}

.div-block-54 {
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 400px;
  display: flex;
}

.brandstory {
  border-bottom: 2px solid #ecc238;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
}

.image-25 {
  width: 200px;
}

.designphilosophy {
  background-image: url('../images/bg1.jpg');
  background-position: 0 0;
  background-size: auto;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
}

.div-block-55 {
  justify-content: center;
  align-items: center;
  width: 600px;
  display: flex;
}

.serviceares {
  border-top: 2px solid #ecc238;
  border-bottom: 2px solid #ecc238;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
}

.body-9 {
  background-color: #000;
}

.section-15 {
  background-image: linear-gradient(#000 10%, #0000 36%), url('../images/Frank-Cresente_005.jpg');
  background-position: 0 0, 50%;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  flex-flow: column;
  width: 100%;
  height: 600px;
  display: flex;
}

.div-block-56 {
  flex-flow: column;
  order: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.section-16 {
  border-top: 2px solid #ecc238;
  border-bottom: 2px solid #ecc238;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  display: flex;
}

.section-16.service {
  height: auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

.text-block-11 {
  color: #fff;
  text-align: center;
  width: 600px;
  font-family: Vollkorn, serif;
}

.section-17 {
  background-image: url('../images/bg2.jpg');
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 60px 100px;
  display: flex;
}

.div-block-57 {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
}

.div-block-58 {
  background-color: #ecc238;
  background-image: linear-gradient(90deg, #0000, #ecc238 40% 58%, #0000);
  width: 80%;
  height: 2px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.section-18 {
  background-image: linear-gradient(#000000c7, #000000c7), url('../images/Vidal_009.jpg');
  background-position: 0 0, 50%;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
}

.serviceshero {
  background-image: linear-gradient(#000 4%, #0000 28%), linear-gradient(#00000047, #00000047), url('../images/Folker-Residence_030.avif');
  background-position: 0 0, 0 0, 50%;
  background-repeat: repeat, repeat, no-repeat;
  background-size: auto, auto, cover;
}

.abouthero {
  background-image: linear-gradient(#000 5%, #0000 33%), linear-gradient(#00000080, #00000080);
}

.div-block-59 {
  background-image: linear-gradient(#000 6%, #0000 30%), linear-gradient(#000000b0, #000000b0), url('../images/Santos_002.avif');
  background-position: 0 0, 0 0, 50%;
  background-repeat: repeat, repeat, no-repeat;
  background-size: auto, auto, cover;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100dvh;
  display: flex;
}

.div-block-60 {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 100px;
  display: flex;
}

.bold-text-10 {
  font-weight: 400;
}

.div-block-61 {
  background-color: #000;
  background-image: url('../images/bg3.jpg');
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
}

@media screen and (max-width: 991px) {
  .body {
    background-color: #000;
    height: auto;
  }

  .form-block {
    width: auto;
    height: auto;
  }

  .headingmain {
    display: flex;
  }

  .headingmain.mobile, .background-video {
    display: none;
  }

  .background-video.mobile {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    flex-flow: column;
    height: auto;
    padding-top: 20px;
    padding-bottom: 40px;
    display: flex;
  }

  .palazzologo {
    width: 250px;
  }

  .bodytext {
    width: 80%;
    height: auto;
  }

  .div-block {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .text-field-3, .text-field-4, .text-field-5, .textarea-2 {
    border-radius: 8px;
  }

  .nav-menu {
    background-color: #000000fc;
    border-radius: 8px;
    top: 69px;
    left: -101px;
  }

  .renderexamples {
    padding-left: 20px;
    padding-right: 20px;
  }

  .div-block-14 {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: .5fr .5fr;
  }

  .div-block-15 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .paragraph {
    width: 100%;
  }

  .div-block-16 {
    width: 100%;
    padding-right: 20px;
  }

  .div-block-17 {
    width: 700px;
    height: 250px;
  }

  .div-block-18 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .div-block-21 {
    width: 600px;
    height: 300px;
  }

  .div-block-25 {
    height: auto;
  }

  .div-block-54 {
    width: 100%;
  }

  .menu-button.w--open {
    background-color: #c8c8c800;
  }
}

@media screen and (max-width: 767px) {
  .body {
    height: auto;
  }

  .form-block {
    width: auto;
  }

  .background-video {
    height: auto;
    display: none;
  }

  .background-video.mobile {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    flex-flow: column;
    height: auto;
    padding-top: 0;
    padding-bottom: 20px;
  }

  .palazzologo {
    width: 250px;
  }

  .bodytext {
    width: 90%;
  }

  .div-block, .background-video-3 {
    height: auto;
  }

  .nav-menu {
    background-color: #000000fc;
    border-radius: 8px;
    top: 69px;
    left: -101px;
  }

  .div-block-11 {
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
  }

  .subheading {
    width: 100%;
  }

  .renderexamples {
    padding-top: 10px;
  }

  .div-block-14 {
    grid-template-columns: .9fr;
  }

  .div-block-15 {
    flex-flow: column;
    height: auto;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .div-block-16 {
    width: 100%;
  }

  .div-block-17 {
    width: 100%;
    height: 200px;
    display: none;
  }

  .div-block-18 {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 15px;
  }

  .ouprocess {
    flex-flow: column;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .paragraph-2 {
    width: 100%;
  }

  .div-block-21 {
    width: 100%;
    height: 300px;
  }

  .div-block-23 {
    padding-top: 0;
    padding-left: 20px;
    padding-right: 20px;
  }

  .trustbloc.reviews {
    width: 100%;
  }

  .div-block-25 {
    height: auto;
  }

  .div-block-26 {
    width: 100%;
  }

  .background-video-4 {
    display: none;
  }

  .background-video-4.mobile {
    height: 300px;
    margin-bottom: 40px;
    display: block;
  }

  .section-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .image-13 {
    width: 200px;
  }

  .div-block-29 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .menu-button.w--open {
    background-color: #c8c8c800;
  }
}

@media screen and (max-width: 479px) {
  .body {
    height: auto;
  }

  .heading {
    font-size: 1rem;
    line-height: 1.2rem;
  }

  .headingmain {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2rem;
  }

  .background-video.mobile {
    grid-column-gap: 13px;
    grid-row-gap: 13px;
    flex-flow: column;
    justify-content: space-around;
    height: auto;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .palazzologo {
    width: 150px;
  }

  .bodytext {
    width: 100%;
  }

  .div-block {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100dvw;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
  }

  .background-video-3 {
    height: auto;
  }

  .section-3 {
    background-image: linear-gradient(#000 9%, #00000069 40%);
    height: auto;
  }

  .container {
    background-color: #0000;
  }

  .nav-menu {
    z-index: 3;
    background-color: #000000fc;
    border-radius: 8px;
    font-family: Vollkorn, serif;
    top: 60px;
    left: -98px;
  }

  .div-block-11 {
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
  }

  .subheading {
    width: auto;
  }

  .div-block-12 {
    flex-flow: column;
  }

  .renderexamples {
    padding: 20px 10px;
  }

  .image-10 {
    height: 200px;
  }

  .div-block-14 {
    grid-row-gap: 43px;
    flex-flow: column;
    grid-template-rows: repeat(auto-fit, 200px) 200px;
    grid-template-columns: 1fr;
    grid-auto-rows: 200px;
  }

  .palazzo-experience {
    height: auto;
  }

  .text-block {
    width: 100%;
  }

  .div-block-15 {
    flex-flow: column;
    height: auto;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .paragraph {
    width: 100%;
    margin-bottom: 10px;
    font-weight: 400;
  }

  .image-11 {
    display: none;
  }

  .div-block-16 {
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
  }

  .div-block-17 {
    width: 100%;
    height: 300px;
    margin-top: 40px;
    display: block;
  }

  .div-block-18 {
    flex-flow: wrap;
    width: 100%;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .ouprocess {
    flex-flow: column;
    padding-top: 60px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .div-block-19 {
    flex-flow: column;
  }

  .authority {
    padding-left: 20px;
    padding-right: 20px;
  }

  .paragraph-2 {
    width: auto;
  }

  .div-block-21 {
    width: 100%;
    height: 100%;
  }

  .div-block-22, .trustbloc.reviews, .trustblochead {
    width: 100%;
  }

  .div-block-25 {
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
  }

  .div-block-26 {
    width: 100%;
  }

  .background-video-4 {
    width: 100%;
    height: 200px;
    display: block;
  }

  .background-video-4.mobile {
    margin-bottom: 60px;
    display: block;
  }

  .section-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .background-video-7 {
    height: 200px;
  }

  .div-block-29 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .div-block-54 {
    width: 100%;
    height: auto;
  }

  .menu-button, .menu-button.w--open {
    background-color: #c8c8c800;
  }
}

#w-node-_92ee60e3-2058-b51a-ac6c-5f4cd5a8559a-707ce650 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

@media screen and (max-width: 479px) {
  #w-node-_284817a2-8dd2-8163-fc0b-d21e62c9c891-098644d7 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}


